<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo cadastro no Dyon por <% nomeInstituicao %></title>
    <meta description="Confirme seu endereço de e-mail">

    <style>
        .text {
            color: #2d3436;
            font-weight: 500;
        }
        span.text {
            font-size: 1.3em;
        }

        .title {
            font-size: 2em;
        }
    </style>
</head>
<body style="font-family: Helvetica, sans-serif;">
    <table style="margin: 0 auto" width="600">
        <%- include("header"); -%>
        <tr>
            <td>
                <h2 class="text" style="margin-block-end: 0; margin-bottom: 0;"><%= nomeUsuario %>, bem-vindo!</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2 class="text">Você foi cadastrado por <%= nomeInstituicao %> no Dyon</h2>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>
                <span class="text">Agora você pode começar a confirmar inscrições de participantes nos eventos de <%= nomeInstituicao %>!</span>
            </td>
        </tr>
    </table>    
</body>
</html>