<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso de Tentativa de Alteração de Senha</title>
    <meta description="Aviso de Tentativa de Alteração de Senha">

    <style>
        .text {
            color: #2d3436;
            font-weight: 500;
        }
        span.text {
            font-size: 1.3em;
        }

        .title {
            font-size: 2em;
        }
    </style>
</head>
<body style="font-family: Helvetica, sans-serif;">
    <table style="margin: 0 auto" width="600">
        <tr>
            <td>
                <img src="cid:unique@logo" width="315" height="99" alt="Logo Dyon">
            </td>
        </tr>
        <tr>
            <td>
                <h2 class="text title" style="margin-block-end: 0; margin-bottom: 0;">Olá, <%= nomeUsuario %></h2>
            </td>
        </tr>
        <tr>
            <td>
                <span class="text">Houve uma tentativa de alteração da senha de sua conta do Dyon em <%= dataAlteracao %><br/>
                    Considere atualizar sua senha nas configurações de seu perfil</span>               
            </td>
        </tr>
        <tr>
            <td>
                <div class="text"><i>Esta é uma mensagem automática</i></div>
            </td>
        </tr>
    </table>    
</body>
</html>